USE [EdenMDS-PRD]

SELECT * FROM sys.sql_expression_dependencies
--SELECT DISTINCT TOP (3) * FROM tblApprovalMeasurement_apm
--SELECT DISTINCT TOP (3) * FROM tblApprovalReport_apr
--SELECT DISTINCT TOP (3) * FROM tblApprovalReportToSample_ars
--SELECT DISTINCT TOP (3) * FROM tblApprovalSample_aps
--SELECT DISTINCT TOP (3) * FROM tblAuthorizationPurpose_aup
--SELECT DISTINCT TOP (3) * FROM tblCounty_cnt
--SELECT DISTINCT TOP (3) * FROM tblDataAccessDefinition_ald
--SELECT DISTINCT TOP (3) * FROM tblDocument_doc
--SELECT DISTINCT TOP (3) * FROM tblDocumentType_dot
--SELECT DISTINCT TOP (3) * FROM tblDownload_dwn
--SELECT DISTINCT TOP (3) * FROM tblDownloadQuery_dgy
--SELECT DISTINCT TOP (3) * FROM tblDownloadToSamples_dws
--SELECT DISTINCT TOP (3) * FROM tblDrinkingWaterSignOff_dws
--SELECT DISTINCT TOP (3) * FROM tblEmailDeliveryFrequency_edf
--SELECT DISTINCT TOP (3) * FROM tblEmailDeliveryUserPreference_edp
--SELECT DISTINCT TOP (3) * FROM tblEnvironmentalParameter_enp
--SELECT DISTINCT TOP (3) * FROM tblEvent_evn
--SELECT DISTINCT TOP (3) * FROM tblEventType_evt
--SELECT DISTINCT TOP (3) * FROM tblEventTypeGroup_evg
--SELECT DISTINCT TOP (3) * FROM tblFCTRoleDefinition_fcr
--SELECT DISTINCT TOP (3) * FROM tblFCTUserRole_fur
--SELECT DISTINCT TOP (3) * FROM tblGeoEntity_gen
--SELECT DISTINCT TOP (3) * FROM tblGeoLayer_gla
--SELECT DISTINCT TOP (3) * FROM tblGeoLayerType_glt
--SELECT DISTINCT TOP (3) * FROM tblGlobalUserRoles_gur
--SELECT DISTINCT TOP (3) * FROM tblHomePageRecords_hpr
--SELECT DISTINCT TOP (3) * FROM tblLanguage_lan
--SELECT DISTINCT TOP (3) * FROM tblLimsInstallations_lim
--SELECT DISTINCT TOP (3) * FROM tblMeasurement_mea
--SELECT DISTINCT TOP (3) * FROM tblMeasurementHistory_mht
--SELECT DISTINCT TOP (3) * FROM tblMeasurementUnit_meu
--SELECT DISTINCT TOP (3) * FROM tblMethodOfAnalysis_moa
--SELECT DISTINCT TOP (3) * FROM tblMonitoredEntity_men
--SELECT DISTINCT TOP (3) * FROM tblMonitoredEntityHistory_mht
--SELECT DISTINCT TOP (3) * FROM tblMonitoredEntityType_met
--SELECT DISTINCT TOP (3) * FROM tblNotification_not
--SELECT DISTINCT TOP (3) * FROM tblNotificationDefinition_nod
--SELECT DISTINCT TOP (3) * FROM tblOrganisation_org
--SELECT DISTINCT TOP (3) * FROM tblOrganisationAccessRequest_oar
--SELECT DISTINCT TOP (3) * FROM tblOrganisationAddress_oad
--SELECT DISTINCT TOP (3) * FROM tblOrganisationPermission_per
--SELECT DISTINCT TOP (3) * FROM tblOrganisationType_ort
--SELECT DISTINCT TOP (3) * FROM tblParameterGroup_pgr
--SELECT DISTINCT TOP (3) * FROM tblParameterGroupMembership_pgm
--SELECT DISTINCT TOP (3) * FROM tblParameterMeasurementUnitMatrix_pmx
--SELECT DISTINCT TOP (3) * FROM tblParameterReporting_par
--SELECT DISTINCT TOP (3) * FROM tblParameterReportingMembership_prm
--SELECT DISTINCT TOP (3) * FROM tblParameterTranslation_ptr
--SELECT DISTINCT TOP (3) * FROM tblRegulatoryBody_reg
--SELECT DISTINCT TOP (3) * FROM tblReturnYear_rty
--SELECT DISTINCT TOP (3) * FROM tblReturnYearSignOff_rys
--SELECT DISTINCT TOP (3) * FROM tblReturnYearStatus_rst
--SELECT DISTINCT TOP (3) * FROM tblRoleDefinition_rld
--SELECT DISTINCT TOP (3) * FROM tblSample_sam --WHERE CommissionedByID_reg IS NOT NULL
--SELECT DISTINCT TOP (3) * FROM tblSampleAuthorization_aut
--SELECT DISTINCT TOP (3) * FROM tblSampleHistory_sht
--SELECT DISTINCT TOP (3) * FROM tblSamplePurpose_sap
--SELECT DISTINCT TOP (3) * FROM tblSamplePurposeTranslation_spt
--SELECT DISTINCT TOP (3) * FROM tblSampleType_sat
--SELECT DISTINCT TOP (3) * FROM tblSamplingMethod_smt
--SELECT DISTINCT TOP (3) * FROM tblSchemeType_sct
--SELECT DISTINCT TOP (3) * FROM tblSchemeYear_scy
--SELECT DISTINCT TOP (3) * FROM tblShortFallDownload_sfd
--SELECT DISTINCT TOP (3) * FROM tblShortFallReason_sfr
--SELECT DISTINCT TOP (3) * FROM tblShortFallReasonForParameter_srp
--SELECT DISTINCT TOP (3) * FROM tblStation_sta
--SELECT DISTINCT TOP (3) * FROM tblStationHistory_sht
--SELECT DISTINCT TOP (3) * FROM tblStationLink_slk
--SELECT DISTINCT TOP (3) * FROM tblStationLinkHistory_slh
--SELECT DISTINCT TOP (3) * FROM tblStationLinkType_slt
--SELECT DISTINCT TOP (3) * FROM tblStationType_stt
--SELECT DISTINCT TOP (3) * FROM tblStringDefinition_std
--SELECT DISTINCT TOP (3) * FROM tblStringMaster_stg
--SELECT DISTINCT TOP (3) * FROM tblTranslationUpload_tup
--SELECT DISTINCT TOP (3) * FROM tblUpload_uld
--SELECT DISTINCT TOP (3) * FROM tblUploadPurpose_upp
--SELECT DISTINCT TOP (3) * FROM tblUploadToUploadPurpose_uup
--SELECT DISTINCT TOP (3) * FROM tblUser_usr
--SELECT DISTINCT TOP (3) * FROM tblUserInOrganisation_uio
SELECT DISTINCT TOP (3) * FROM tblUserOrganisationAccess_uoa EHO
INNER JOIN tblUser_usr USR ON EHO.UserID_usr = USR.UserID_usr

WHERE EHO.EhoOfficer_uoa = 1 
SELECT DISTINCT TOP (3) * FROM tblValidationError_err
--SELECT DISTINCT TOP (3) * FROM tblWasteWaterReturnYear_wwy
--SELECT DISTINCT TOP (3) * FROM CWMonitoredEntities
--SELECT DISTINCT TOP (3) * FROM dwSchemes2009
--SELECT DISTINCT TOP (3) * FROM FCT_Station
--SELECT DISTINCT TOP (3) * FROM FCTCoordinates170214
--SELECT DISTINCT TOP (3) * FROM LWMonitoredEntities
--SELECT DISTINCT TOP (3) * FROM RWMonitoredEntities
--SELECT DISTINCT TOP (3) * FROM tblDWCompliance_dwc
--SELECT DISTINCT TOP (3) * FROM tblEnvironmentalParameter_enp_bkup29092014
--SELECT DISTINCT TOP (3) * FROM tblInstallation_ins
--SELECT DISTINCT TOP (3) * FROM tblLinks_lnk
--SELECT DISTINCT TOP (3) * FROM tblLogins_log
--SELECT DISTINCT TOP (3) * FROM tblParameterMeasurementUnitMatrix_pmx_bkup13102014
--SELECT DISTINCT TOP (3) * FROM tblParameterMeasurementUnitMatrix_pmx_bkup29092014
--SELECT DISTINCT TOP (3) * FROM tblPosition_pos
--SELECT DISTINCT TOP (3) * FROM tblSection_set
--SELECT DISTINCT TOP (3) * FROM tblStation_sta130214
--SELECT DISTINCT TOP (3) * FROM tblStation_sta170214
--SELECT DISTINCT TOP (3) * FROM tblUserOrganisationAccess_uoa_bkup
--SELECT DISTINCT TOP (3) * FROM TWMonitoredEntities
--SELECT DISTINCT TOP (3) * FROM UWWDischargeStations
--SELECT DISTINCT TOP (3) * FROM UWWInfluentEffluentLinkages
--SELECT DISTINCT TOP (3) * FROM UWWInfluentStations
--SELECT DISTINCT TOP (3) * FROM UWWMonitoredEntities
--SELECT DISTINCT TOP (3) * FROM WFDStationAndWaterBodyCodes2711